body{
     font-family: "Rubik Mono One", monospace;
     background-color: rgb(236, 236, 236);
}
   h1 {
      color: rgb(0, 0, 0);
      font-size: 72px;
      font-weight: bold;
    }

    a {
      display: inline-block;
      background-color: #db9834;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
    }

    div {
      margin-bottom: 20px;
    }

    .card {
        background-color: #db9834;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      display: inline-block;
      margin-right: 10px;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0px;
    }
